<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/carrusel.css">
    <title>Document</title>
</head>
<body>
    <section class="carrusel">
        <div class="carrusel__container">

            <div class="carrusel-item">
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/5240544/pexels-photo-5240544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="code0">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png" alt="play icon">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png" alt="plus icon">
                    </div>
                    <p class="carrusel-item__details--title">Titulo descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2021 16+ 114 minutos</p>
                </div>                
            </div>

            <div class="carrusel-item">
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/1181243/pexels-photo-1181243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="code0">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png" alt="play icon">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png" alt="plus icon">
                    </div>
                    <p class="carrusel-item__details--title">Titulo descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2021 16+ 114 minutos</p>
                </div>                
            </div>

            <div class="carrusel-item">
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/1181298/pexels-photo-1181298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="code0">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png" alt="play icon">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png" alt="plus icon">
                    </div>
                    <p class="carrusel-item__details--title">Titulo descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2021 16+ 114 minutos</p>
                </div>                
            </div>

            <div class="carrusel-item">
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/1181359/pexels-photo-1181359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="code0">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png" alt="play icon">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png" alt="plus icon">
                    </div>
                    <p class="carrusel-item__details--title">Titulo descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2021 16+ 114 minutos</p>
                </div>                
            </div>

            <div class="carrusel-item">
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/1181673/pexels-photo-1181673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="code0">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png" alt="play icon">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png" alt="plus icon">
                    </div>
                    <p class="carrusel-item__details--title">Titulo descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2021 16+ 114 minutos</p>
                </div>                
            </div>

            <div class="carrusel-item">
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/5473950/pexels-photo-5473950.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="code0">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png" alt="play icon">
                        <img src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png" alt="plus icon">
                    </div>
                    <p class="carrusel-item__details--title">Titulo descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2021 16+ 114 minutos</p>
                </div>                
            </div>                    

        </div>
    </section>
</body>
</html>