:root {
    --primary-color: #8F57FD;
    --second-color: #8EC5FC;
    --third-color: #E0C3FC;    
    --primary-font-family: 'Mulish', sans-serif;
    --base-color: #fff;
    --second-base-color: #000;
    --font-size-base: 62.5%;    
}

* {
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-base);
    font-family: var(--primary-font-family);    
}

header {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--base-color);
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

header img {    
    margin-left: 3rem;
    width: 200px;
}

.notFound {
    width: 100%;
    height: calc(100vh - 200px);
    background-color: var(--primary-color);
    background-image: linear-gradient(180deg, var(--primary-color) 0%, var(--second-color) 65%, var(--third-color) 98%);    
    align-items: center;
    justify-content: center;                  
    text-align: center;    
}

.notFound img {
    margin-top: 50px;
    width: 50%;       
}

.notFound__text {
    font-size: 3rem;
    font-weight: 900;
}

.footer {
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    padding-top: 2rem;    
    height: 100px;
    width: 100%;
}

.footer a {
    color: var(--second-base-color);
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 3rem;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}